<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        /* Custom CSS for changing hover color */
        .navbar-light .navbar-nav .nav-link:hover {
            color: #007bff; /* Change to the color you desire */
        }
        .navbar-light .navbar-nav .nav-link:hover {
            background-color: transparent; /* Set hover background color to transparent */
        }
    </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Email Sender</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Send Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sentMail">Mail Sent</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="text-center mb-4">Sent Emails</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">To</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Attachment</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                <% sentEmails.map(email => { %>
                    <tr>
                        <td><%= email.to %></td>
                        <td><%= email.subject %></td>
                        <td><%= email.company_name %></td>
                        <td><%= email.filename %></td>
                        <td><%= email.date %></td>
                        <td><%= email.time %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</body>
</html>
