<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Email Sender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Send Mail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sentMail">Mail Sent</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Sent Emails</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>To</th>
                    <th>Subject</th>
                    <th>Company_name</th>
                    <th>Attachment</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <% sentEmails.map(email =>{ %>
                    <tr>
                        <td><%= email.to %></td>
                        <td><%= email.subject %> </td>
                        <td><%= email.company_name %> </td>
                        <td><%= email.filename %> </td>
                        <td><%= email.date %> </td>
                        <td><%= email.time %> </td>

                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
